.body {
  height: 500px;
  width: 100%;
  border-radius: 2.5rem;
  background: #fff;
  box-shadow: 0 2px 15px rgb(0 0 0 / 13%) !important;
  flex: 0.8;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
}
.left {
  flex: 1;
  background: linear-gradient(#fd297a, #9424f0);
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.heading {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_feilds {
  flex: 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.form_feilds > div {
  width: 70%;
}
.save_button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.edit_profile_pic {
  opacity: 1;
}
/* .edit_profile_pic:hover {
  opacity: 0.8;
  cursor: pointer;
} */

.edit_profile_pic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  margin-left: 20px;
}

.img_container:hover .edit_profile_pic {
  opacity: 0.3;
}

.img_container:hover .middle {
  opacity: 1;
  margin-top: 30px;
  margin-left: 20px;
}

.icon {
  background-color: #04aa6d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
