* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  /* min-height: 100vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor-ptr {
  cursor: pointer;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 40%;
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.rounded {
  border-radius: 50% !important;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}
