.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  box-shadow: 0 0 20px #4c4b4b;
}

.post {
  width: 100%;
  background-color: green;
  height: 700px;
}

.user {
  padding: 0.8rem;
  font-weight: 600;
}
.user:hover {
  color: #9f2bc1;
  cursor: pointer;
  font-weight: bold;
}
.postImg {
  height: 100%;
  width: 100%;
}
.deletePopUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
