.header {
  display: flex;
  flex: 1;
  width: 100%;
}
.posts {
  display: flex;
  flex: 10;
  width: 100%;
}

.profilePic {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.userStats {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0;
}
.user_name_row {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}

.stats_row {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
}
.name_bio_row {
  flex: 2;
}
